<IfModule mod_rewrite.c>
  RewriteEngine On

  # Don't rewrite WebSocket requests for Socket.IO
  RewriteCond %{REQUEST_URI} !^/socket.io/ [NC]

  # If a file or directory exists, serve it directly
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Redirect all other requests to index.html
  RewriteRule . /index.html [L]
</IfModule>
