<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /~ahai22/editor/

  # If a file or directory exists, serve it directly
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Redirect all other requests to index.html
  RewriteRule . /~ahai22/editor/index.html [L]
</IfModule>
