@import "../../styles/variables.scss";

.document-page {
    background-color: $background-color;
    padding-top: 5rem;

    
    .main-textbox {
        padding: 2rem;
    }

}
body[data-theme='dark'] {
    .document-page {
    background-color: $dark-background-color;
    color: $dark-text-color;
    }
}

.documents-page {
    padding-top: 5rem;
    .document-list{
        padding: 1rem;
        display: flex;
        gap: 1rem;
        flex-direction: row;
        margin: auto;
        flex-wrap: wrap;
        justify-content: center;

        .document-card {
            width: 10rem;
            max-height: 14rem;
            border: 1px solid #ccc;
            padding: 0.5rem;
            cursor: pointer;
            border-radius: 0.5rem;

            &:hover {
                box-shadow: $box-shadow;
            }
    
            img.preview {
                height: 10rem;
                width: 100%;
                object-fit: cover;
            }
        }
    }

    .new-document-btn {
        height: 4rem;
        width: 4rem;
        background-color: $background-color;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        color: $color-primary;
        position: fixed;
        bottom: 1rem;
        right: 1rem;

        &:hover {
            background-color: darken($background-color, 5%);
            box-shadow: $box-shadow;
            color: $color-secondary;
        }

        svg {
            font-size: inherit;
        }
    }

    .doc-filter-btns {
        display: flex;
        gap: 0.5rem;
        padding: 0.5rem;
        justify-content: center;

        button {
            min-width: 4rem;
            border: 1px solid $color-primary;
            border-radius: 2rem;
        }
    }

}
body[data-theme='dark'] {
    .documents-page {
        .document-card {
            &:hover {
                box-shadow: $dark-box-shadow !important;
            }
            
            img.preview {
                height: 10rem;
                width: 100%;
                object-fit: cover;
            }
        }
    }
    
    .new-document-btn {
        background-color: darken($dark-background-color, 5%);
        &:hover {
            background-color: darken($dark-background-color, 5%);
            box-shadow: $dark-box-shadow;
        }
    }
}

.doc-share {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff3d;
    height: 100%;
    width: 100%;
    z-index: 1000;
    backdrop-filter: blur(5px);
    display: flex;

    justify-content: center;
    align-items: center;

    .container {
        height: 30rem;
        width: 30rem;
        background-color: $background-color;
        color: black;
        padding: 1rem;
        border-radius: .5rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .header {
            display: flex;
            justify-content: space-between;
        }

        .body {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            .add-new {
                position: relative;

                .submit {
                    position: absolute;
                    top: 0.4rem;
                    right: 0.5rem;
                }
            }
        }

    }

    .share-list {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        li {
            height: 3rem;
            width: 100%;
            background-color: #292929;
            border-radius: .3rem;
            display: flex;
            justify-content: space-between;
            padding: .5rem;
            align-items: center;
        }
    }
    
}
body[data-theme='dark'] {
    .doc-share {
        background-color: #0000003d;
        .container {
            background-color: $dark-background-color;
            color: $dark-text-color;
        }
    }
}