@import "../../styles/variables.scss";
.navbar {
    display: flex;
    margin-top: -5rem;
    height: 5rem;
    position: fixed;
    width: 100%;
    background-color: #fff;
    box-shadow: $box-shadow;
    z-index: 999;

    .logo {
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        
        img {
            width: 3rem;
            padding: .5rem;
        }

        * {
            display: flex;
            align-items: center;
            color: $color-primary;
        }
    }

    .title-n-menubar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-width: 5rem;

        input[type=text] {
            border: 0;
        }

        .document-menubar {
            display: flex;
            gap: .2rem;

            button {
                min-width: 2.5rem;
                text-align: left;
            }
        }
    }

    .document-toolbar {
        margin-left: auto;
    }
}

body[data-theme='dark'] {
    .navbar {
        background-color: $dark-background-color;
        box-shadow: $dark-box-shadow;
        color: $dark-text-color;

        .title-n-menubar {
            color: $dark-text-color;

            input[type=text] {
                border: 0;
                color: $dark-text-color;
                background-color: $dark-background-color;
            }

            .document-menubar {
                display: flex;
                gap: .2rem;

                button {
                    min-width: 2.5rem;
                    text-align: left;
                    color: white;
                }
            }
        }
    }
}
